alabaster==0.7.12
Babel==2.8.0
backports.functools-lru-cache==1.6.1
certifi==2019.11.28
chardet==3.0.4
cloudpickle==1.3.0
cycler==0.10.0
decorator==4.4.1
docutils==0.16
idna==2.8
imagesize==1.2.0
Jinja2==2.11.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
networkx==2.2
numpy==1.16.6
packaging==20.1
Pillow==6.2.2
protobuf==3.11.3
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.0.3
PyYAML==5.3
requests==2.22.0
scikit-image==0.14.5
scipy==1.2.3
six==1.14.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.4
typing==3.7.4.1
urllib3==1.25.8
