CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.cmake
bin/

conanfile.txt
conaninfo.txt
conanbuildinfo.txt
conan.lock

graph_info.json

*.swp

imgui.ini
